
.sky{
    background-color: white;
}
.about{
    width: 100%;
    height: 100vh;
    background: orange;
}
.project{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top,#0E2036,#12314E);
}
.contact{
    background-color: rgb(51, 230, 230);
}
  